<!DOCTYPE html>
<html>
  <head>
      <title>Ochrona danych - cesar</title>
      {{>jsAndCss}}
  </head>
  <body>
    <div class="myContainer">
      {{>header}}
      <form action="/cesar" method="post">
        <label for="fname">Text to encode:</label>
        <input type="textarea" name="text"><br><br>
        <label for="lname">Shift (number between {{min}} - {{max}}):</label>
        <input type="number" name="shift" min={{min}} max={{max}}><br><br>
        <label for="lname">Without numbers:</label>
        <input type="checkbox" name="withoutNumbers"><br><br>
        <input type="submit" value="Encode">
      </form>
      <form action="/cesar" method="post">
        <input type="hidden" name="decode" value='1'><br><br>
        <label for="fname">Text to decode:</label>
        <input type="textarea" name="text"><br><br>
        <label for="lname">Shift (number between {{min}} - {{max}}):</label>
        <input type="number" name="shift" min={{min}} max={{max}}><br><br>
        <input type="submit" value="Decode">
      </form>
      {{>footer}}
    </div>
    <script src="/main.js"></script>
  </body>
</html>
